body {
  background-color:#edc4c2;
  display: flex;
}

.poster-content {
  margin: auto;
 margin-left: 50px;
 margin-top:100px;
 margin-right:50px;
 margin-top: 10px;
  margin-bottom: 10px;
}

.item {
}

.row {
	margin-top:225px;
  display: flex;
  margin-left:200px;
  margin-bottom: 30px;
  margin-left: 100px;

}

.col {
  display:center;
  border: 1px;
  height: 50px;
}


.smalltitle {
  display:flex;
  font-family: georgia;
  margin-right: 30px;
  margin-top: 75px;
}

.title {
  display:flex;
  font-family:Leckerli One;
  margin-right:100px;
}

/* For codepen example */



