{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
#background {
	position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(../imgs/pigeonpattern1.png);
    background-repeat:repeat;
    background-size:cover;
    opacity:85;
}
 
.wrapper {
	position:relative;
	width:300px;
	margin:300px auto;
	z-index:1;
	background:#f2c7ce;
	padding:50px;
	box-shadow:0 10px 30px rgba(0,0,0,.1);
	opacity:85%;
}
.wrapper2 {
	position:relative;
	width:300px;
	margin:300px auto;
	z-index:1;
	background:#f2c7ce;
	padding:50px;
	box-shadow:0 10px 30px rgba(0,0,0,.1);
	opacity:85%;
}

.wrapper3 {
	position:relative;
	width:300px;
	margin:300px auto;
	z-index:1;
	background:#f2c7ce;
	padding:50px;
	box-shadow:0 10px 30px rgba(0,0,0,.1);
	opacity:85%;
}
.wrapper4 {
	position:relative;
	width:300px;
	margin:300px auto;
	z-index:1;
	background:#f2c7ce;
	padding:50px;
	box-shadow:0 10px 30px rgba(0,0,0,.1);
	opacity:85%;
}
.wrapper5 {
	position:relative;
	width:300px;
	margin:300px auto;
	z-index:1;
	background:#f2c7ce;
	padding:50px;
	box-shadow:0 10px 30px rgba(0,0,0,.1);
	opacity:85%;
}
.wrapsix {
	position:relative;
	width:300px;
	margin:300px auto;
	z-index:1;
	background:#f2c7ce;
	padding:50px;
	box-shadow:0 10px 30px rgba(0,0,0,.1);
	opacity:85%;
}
.wrapper h2 {
	text-shadow: 4px 8px #ffebee;
	font-family: 'Fascinate', cursive;
	font-size:5.2em;
	color: #191e1a;
    margin-bottom:120px;
}

.wrapper2 p {
	text-shadow: 3px 2px #ffebee;
	font-size:1em;
	line-height:1.6em;
	font-family: 'Corben', cursive;	
}
.wrapper3 p {
	text-shadow: 3px 2px #ffebee;
	font-size:1em;
	line-height:1.6em;
	font-family: 'Corben', cursive;	

}
.wrapper4 p {
	text-shadow: 3px 2px #ffebee;
	font-size:1em;
	line-height:1.6em;
	font-family: 'Corben', cursive;	

}
.wrapper5 p {
	text-shadow: 3px 2px #ffebee;
	font-size:1em;
	line-height:1.6em;
	font-family: 'Corben', cursive;	

}
.wrapsix p {
	text-shadow: 3px 2px #ffebee;
	font-size:1em;
	line-height:1.6em;
	font-family: 'Corben', cursive;	

}	

.img {
	max-height:20px;
	max-width:auto;
}

@media print {

header:before {
display: block;
content: "mother pigeon";
margin-bottom: 10px;
border: 1px solid #bbb;
padding: 3px 5px;
font-style: italic;
}
}