body {background-color:grey; }

.oval {
  width: 160px;
  height: 80px;
  background: #a8dba4;
  border-radius: 50%;
}
.ovaltwo {
  display:flex;
  justify-content:flex-end;
  width: 160px;
  height: 80px;
  background: #f7c457;
  border-radius: 50%;
}
.ovalthree {
  display:flex;
  justify-content:center;
  width: 160px;
  height: 80px;
  background: #d69089;
  border-radius: 50%;
}
.oval-container{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#ffe08a;
	padding: 20px;