body {background-color:#669db3ff; }

.lil-circle {width:90px;
height:90px;
border-radius:50%;
background-color: #a3d5d6;
border-radius:50%; 
margin: 200px 650px;
}

.lil-circle2 {width:90px;
height:90px;
border-radius:50%;
background-color: #a3d5d6;
border-radius:50%; 
margin: -300px 850px;
}

.lil-circle3 {width:90px;
height:90px;
border-radius:50%;
background-color: #a3d5d6;
border-radius:50%; 
margin: 325px 1000px;
}

.bigcircle {
width:500px;
height:500px;
border-radius:50%;
background-color: #144955;
border-radius:50%; 
margin: -500px 300px;
}